DATABASE_URL="postgresql://postgres:postgres@localhost:5432/farmed?schema=public"
NEXTAUTH_SECRET="troque-por-um-segredo-longo-com-32-caracteres-ou-mais"
NEXTAUTH_URL="http://localhost:3000"
ADMIN_EMAIL="admin@farmed.local"
ADMIN_PASSWORD="Admin@123456"
PHARMACY_WHATSAPP="5511999999999"
